<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>

    <session-factory>
    
    <!-- Database credentials -->
    
    <property name="connection.drive_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://bjduduo2dt7p12utjtcy-mysql.services.clever-cloud.com:3306/bjduduo2dt7p12utjtcy</property>
    <property name="connection.username">unbjiwezm2oiexck</property>
    <property name="connection.password">UHWF1O5kwkKOzCKvSJrM</property>
    
     <!-- SQL as dialect-->
     
     <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
     
     <!-- hbm2ddl -->
     <!-- Hibernate basic mapping to data defination language -->
     <property name="hbm2ddl.auto">update</property>
     
     <!-- show sql -->
     <property name="show_sql">true</property>
     
     <!-- connection pool  -->
     <property name="connection.pool_size">1</property>
     
     <!-- Mapping --><!-- fully qualified name -->
     <mapping class="entity.Student"/>
     <mapping class="entity.Instructor"/>
     <mapping class="entity.InsDetails"/>
    </session-factory>
   
   
    


</hibernate-configuration>